[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "3rdparty/zisa.sfc"]
	path = 3rdparty/zisa.sfc
	url = https://github.com/1uc/ZisaSFC.git
[submodule "tests/data"]
	path = tests/data
	url = git@bbpgitlab.epfl.ch:hpc/spatial-index-test-data.git
