graft 3rdparty/pybind11
prune 3rdparty/pybind11/tests
prune 3rdparty/pybind11/.github
prune 3rdparty/pybind11/docs

exclude .gitmodules
exclude .gitignore
exclude .gitlab-ci.yml

prune .ci
prune ci
prune tests
prune _benchmarking
